*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: $normal;
  overflow-x: hidden;
  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  @media only screen and(max-width:1200px) {
    width: 90%;
  }
}


.background-highlighter{
  position: absolute;
  width:50vw;
  height:70vh;
  background:$light-grayish-blue;
  top:0;
  right:0;
  z-index:-5;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;


}
