*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: $normal;
  overflow-x: hidden !important;
  max-width: 100vw;
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  @media only screen and(max-width:1200px) {
    width: 90%;
  }
}

.background-highlighter {
  position: absolute;
  width: 100%;
  height: 70vh;
  background: $light-grayish-blue;
  top: 0;
  left: 50%;
  z-index: -5;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  @media only screen and(max-width:948px) {
    height: 100vh;
    left: 60%;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  @media only screen and(max-width:610px) {
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    height: 90vh;
    left: 40%;
    width: 90vw;
  }
  @media only screen and(max-width:425px) {
    height: 80vh;
  }
  @media only screen and(max-width:375px) {
    height: 60vh;
  }
}
