.tagline__container {
  width: 70%;
  margin: 5rem 0;
}

.tagline {
  font-size: 1.5rem;
  color: $grayish-blue;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  @media only screen and(max-width:948px) {
    font-size: 1.7rem;
  }
  span {
    background: $very-dark-blue;
    color: $light-grayish-blue;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
    letter-spacing: 1px;
  }
}

.main-heading {
  font-size: 7rem;
  font-weight: $bold;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1;
  color: $very-dark-blue;
  @media only screen and(max-width:1200px) {
    font-size: 6rem;
  }
  @media only screen and(max-width:948px) {
    width: 80%;
  }
  @media only screen and(max-width:610px) {
    font-size: 5rem;
  }
}

.slogan {
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50%;
  color: rgba($very-dark-blue, 0.6);
  line-height: 1.2;
  @media only screen and(max-width:1200px) {
    width: 80%;
  }
  @media only screen and(max-width:948px) {
    width: 50%;
  }
  @media only screen and(max-width:610px) {
    width: 80%;
  }
}

.cta__text {
  font-size: 1.2rem;
  color: $grayish-blue;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-self: flex-start;
  margin-left: 1rem;
}
