.btn__container {
  flex: 0 0 30%;
  align-self: stretch;
  margin-left: 1rem;
  @media only screen and (max-width: 630px) {
    width: 100%;
    margin-bottom: 2rem;
    flex: 1;
    margin-left: 0;
  }
}

.btn-primary {
  border: 0;
  background-color: $bright-blue;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  color: $light-grayish-blue;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
}
