/* Utility to hide and show the sharinhg Menu*/

.hide {
  opacity: 0;
}

.share {
  padding: 1rem 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: $very-dark-grayish-blue;
  color: $white;
  position: absolute;
  top: -6rem;
  left: -50%;
  border-radius: 1rem;
  box-shadow: $light;
  transform: translateX(-30%);

  &__arrow {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    width: 1.5rem;
    height: 1rem;
    background: $very-dark-grayish-blue;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotateX(180deg) translateX(-50%);
    z-index: 10;
  }

  &__text {
    letter-spacing: 3px;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 2rem;
  }

  &__lists {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__list {
    margin-right: 1.5rem;
    img {
      width: 1.7rem;
    }
  }
}
