.productivity-banner {
  margin-top: 2rem;
  min-height: 100vh;
  // background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__image {
    flex: 0 0 40%;
  }

  &__content {
    flex: 0 0 50%;
    color: $white;
  }
}
