.u-container {
  max-width: 120rem;
  margin: 0 auto;
  // background: rgba(pink,0.2);
  @media only screen and(max-width:1200px) {
    width: 90%;
  }
}

.u-center {
  text-align: center;
}

.u-width-50 {
  width: 40%;
  // background: rgba(blue,0.4);
  padding: 2rem 0;

  @media only screen and(max-width:960px) {
    width: 80%;
  }

  @media only screen and(max-width:500px) {
    width: 80%;
  }
}
