.curve-decoration-big,
.curver-decoration-small {
  margin-top: 10rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
}

.curve-decoration-big {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
.curve-decoration-small {
  display: none;
  @media only screen and (max-width: 500px) {
    display: block;
    width: 100vw;
    align-self: stretch;
    img {
      max-width: 100%;
    }
  }
}

.intro-section {
  background: $lightest-gray;
  padding: 4rem 0;
  @media only screen and (max-width: 500px) {
    transform: translateY(-5px);
  }
}

.newsletter {
  background: $desaturated-blue;
  color: $light-grayish-blue;
  padding: 10rem 0;
}

footer {
  background-color: $very-dark-blue;
  padding: 5rem 0;
  width: 100%;
}
