.curve-decoration-big {
  margin-top: 10rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
}

.intro-section {
  background: $lightest-gray;
  padding: 4rem 0;
}
