.main-heading {
  font-size: 4rem;
  font-weight: $bold;
  font-family: "Raleway", sans-serif;
  text-justify: inter-word;
  color: $very-dark-blue;
}

.tagline {
  font-size: 1.7rem;
  color: $very-dark-blue;
  text-justify: inter-word;
  margin: 2rem 0;
}
