.main-heading {
  font-size: 4rem;
  font-weight: $bold;
  font-family: "Raleway", sans-serif;
  text-justify: inter-word;
  color: $very-dark-blue;
  @media only screen and(max-width:780px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 2.8rem;
  }
}

.tagline {
  font-size: 1.7rem;
  color: $desaturated-blue;
  text-justify: inter-word;
  margin: 2rem 0;
  @media only screen and(max-width:780px) {
    font-size: 1.2rem;
  }
}

.sub-heading {
  font-size: 3.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: $bold;
  text-justify: inter-word;
  color: $very-dark-blue;
  @media only screen and (max-width: 800px) {
    text-align: center;
    font-size: 2.7rem;
  }
  @media only screen and (max-width: 500px) {
    text-align: center;
    font-size: 2rem;
  }
  @media only screen and (max-width: 400px) {
    text-align: center;
    font-size: 1.7rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: $desaturated-blue;
  width: 90%;
  @media only screen and (max-width: 500px) {
    font-size: 1.4rem;
    text-align: left;
  }
  @media only screen and (max-width: 400px) {
    text-align: center;
    font-size: 1.2rem;
  }
}

.tertiary-heading {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
  @media only screen and (max-width: 900px) {
    text-align: center;
  }
  @media only screen and (max-width: 500px) {
    font-size: 2.4rem;
  }
}

.message {
  font-size: 1.5rem;
  width: 70%;
  color: $light-gray;
  @media only screen and (max-width: 900px) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
