.u-container {
  max-width: 1200px;
  margin: 0 auto;
 
  @media only screen and (max-width: 1200px) {
    width: 90%;
    margin: 0 auto;
  }
  @media only screen and (max-width: 500px) {
    width: 95%;
    margin: 0 auto;
  }
}

.u-center{
  text-align: center;
}
