/* Primary Colors*/
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

/* Accents */
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

/* Neutral */
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$lightest-gray: #f8f8fe;

/* Font Weights */
$normal: 400;
$bold: 700;
