/* Primary Colors */
/* Secondary Colors */
/* Font Weights*/
/* Shadows */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important;
  max-width: 100vw;
  background-color: white; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }

.background-highlighter {
  position: absolute;
  width: 100%;
  height: 70vh;
  background: #eef3f6;
  top: 0;
  left: 50%;
  z-index: -5;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem; }
  @media only screen and (max-width: 948px) {
    .background-highlighter {
      height: 100vh;
      left: 60%;
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem; } }
  @media only screen and (max-width: 610px) {
    .background-highlighter {
      border-bottom-left-radius: 5rem;
      border-bottom-right-radius: 5rem;
      height: 90vh;
      left: 40%;
      width: 90vw; } }
  @media only screen and (max-width: 425px) {
    .background-highlighter {
      height: 80vh; } }
  @media only screen and (max-width: 375px) {
    .background-highlighter {
      height: 60vh; } }

.tagline__container {
  width: 70%;
  margin: 5rem 0; }
  @media only screen and (max-width: 610px) {
    .tagline__container {
      width: 90%; } }

.tagline {
  font-size: 1.5rem;
  color: #a0a1ac;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif; }
  @media only screen and (max-width: 948px) {
    .tagline {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 810px) {
    .tagline {
      width: 100%; } }
  @media only screen and (max-width: 375px) {
    .tagline {
      font-size: 1.7rem;
      letter-spacing: 1px; } }
  .tagline span {
    background: #242942;
    color: #eef3f6;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
    letter-spacing: 1px; }

.main-heading {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1;
  color: #242942; }
  @media only screen and (max-width: 1200px) {
    .main-heading {
      font-size: 6rem; } }
  @media only screen and (max-width: 948px) {
    .main-heading {
      width: 80%; } }
  @media only screen and (max-width: 610px) {
    .main-heading {
      font-size: 4.3rem;
      width: 100%; } }

.slogan {
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50%;
  color: rgba(36, 41, 66, 0.6);
  line-height: 1.2; }
  @media only screen and (max-width: 1200px) {
    .slogan {
      width: 80%; } }
  @media only screen and (max-width: 948px) {
    .slogan {
      width: 50%; } }
  @media only screen and (max-width: 610px) {
    .slogan {
      width: 100%;
      margin-top: 3rem; } }

.cta__text {
  font-size: 1.2rem;
  color: #a0a1ac;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-self: flex-start;
  margin-left: 1rem; }
  @media only screen and (max-width: 400px) {
    .cta__text {
      letter-spacing: 1px; } }

.logobox img {
  max-width: 100%; }

.navbar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .navbar__items {
        display: none; } }
  .navbar__group {
    margin: 0 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .navbar__item {
    padding: 0 1rem; }
  .navbar__link {
    font-size: 1.5rem;
    color: #5b5f71;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .navbar__link--1 {
      color: #a0a1ac; }
    .navbar__link:hover {
      text-decoration: underline; }

.hamburger {
  cursor: pointer; }
  @media only screen and (min-width: 599px) {
    .hamburger {
      display: none; } }

/* Small Screen Navbars */
.hide {
  display: none; }

.navbar__small {
  background: #fff;
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.4);
  z-index: 25;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10rem; }
  @media only screen and (min-width: 600px) {
    .navbar__small {
      display: none; } }
  .navbar__small li {
    margin: 3rem 0;
    width: 100%; }
    .navbar__small li:last-child {
      border-top: 1px solid #a0a1ac;
      padding-top: 1.3rem; }
  .navbar__small a {
    font-size: 2.5rem;
    font-family: "Barlow Condensed", sans-serif;
    color: #242942;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .navbar__small a.navbar__link--1 {
      color: #a0a1ac; }

.header {
  margin-bottom: 5rem; }

.herobox {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 948px) {
    .herobox {
      flex-direction: column; } }
  .herobox__content {
    flex: 0 0 50%; }
    @media only screen and (max-width: 948px) {
      .herobox__content {
        order: 2; } }
  .herobox__image {
    flex: 0 0 50%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 948px) {
      .herobox__image {
        order: 1; } }
    .herobox__image img {
      max-width: 100%;
      margin-top: 5rem;
      transform: scale(1.5) translateX(10rem); }
      @media only screen and (max-width: 948px) {
        .herobox__image img {
          transform: scale(1.2) translateX(10rem); } }
      @media only screen and (max-width: 610px) {
        .herobox__image img {
          transform: scale(1.6) translateX(8rem); } }
      @media only screen and (max-width: 425px) {
        .herobox__image img {
          transform: scale(1.4) translateX(3.5rem); } }
      @media only screen and (max-width: 375px) {
        .herobox__image img {
          transform: scale(1.7) translateX(7rem); } }

.cta__container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%; }
  @media only screen and (max-width: 1200px) {
    .cta__container {
      width: 80%; } }
  @media only screen and (max-width: 948px) {
    .cta__container {
      width: 50%; } }
  @media only screen and (max-width: 810px) {
    .cta__container {
      width: 80%; } }
  @media only screen and (max-width: 810px) {
    .cta__container {
      width: 100%; } }

.btn__container {
  flex: 0 0 50%; }

.btn {
  background: #ff5c5c;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #eef3f6;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px; }
  .btn:hover {
    opacity: 0.8; }
