.heading__box {
  margin: 0 auto;
  width: 40rem;
  margin-top: 4rem;
 @media only screen and (max-width:438px){
    width:90%;
  }
}

.feature-card {
  width: 28rem;
  padding: 2rem;
  margin: 0 auto;
  background: $white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: $shadow;
  @media only screen and (max-width:920px){
        margin-bottom:2rem;
    }

  &__head {
    font-weight: $bold;
    font-size: 1.8rem;
    color: $dark-blue;
  }

  &__info {
    font-weight: $light;
    font-size: 1.2rem;
    margin: 1.7rem 0;
    max-width: 85%;
    color: $grayish-blue;
  }

  img {
    width: 6rem;
    height: 6rem;
    align-self: flex-end;
  }

  &--one {
    border-top: 4px solid $cyan;
  }
  &--two {
    border-top: 4px solid $red;
    margin-bottom:4rem;
    @media only screen and (max-width:920px){
        margin-bottom:2rem;
    }
  }
  &--three {
    border-top: 4px solid $orange;
  }
  &--four {
    border-top: 4px solid $blue;
  }
}

.link {
  text-decoration: none;
  &:hover,
  &:active{
      color:$blue;
  }
}
