footer {
  background: $very-dark-cyan;
  min-height: 20vh;
  padding: 2rem 0;
  position: relative;
}

.communitybox {
  background: $white;
  padding: 5rem 2rem 2rem 2rem;
  width: 40%;
  border-radius: 1rem;
  margin: 0 auto;
  position: absolute;
  top: -20%;
  left: 50%;
  box-shadow: $shadow-box-light;
  transform: translateX(-50%);
   @media only screen and(max-width:1220px) {
    width: 70%;
  }
  @media only screen and(max-width:850px) {
    width: 90%;
  }
  @media only screen and(max-width:500px) {
    padding: 1rem;
    top: -10%;
  }
}

/* Main Footer */

.footer {
  margin-top: 15rem;
  &__logo {
    width: 15rem;
    img {
      max-width: 100%;
    }
  }

  &__socials {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__items {
    flex: 0 0 20%;
    background: pink;
    justify-self: center;
    &:first-child {
      flex: 0 0 25%;
    }
    &:last-child {
      flex: 0 0 10%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__item {
    font-size: 1.3rem;
    color: $white;
    padding: 0.5rem;
    &--special {
      display: flex;
      align-items: flex-start;
      padding-left: 1rem;
    }
  }
}

.item-icon {
  margin-right: 1rem;
  img {
    width: 1.5rem;
  }
}
