/* Primary Colors*/
/* Accents */
/* Neutral */
/* Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1500px) {
    html {
      font-size: 72.5%; } }

body {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.main-heading {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-justify: inter-word;
  color: #070439; }
  @media only screen and (max-width: 780px) {
    .main-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 400px) {
    .main-heading {
      font-size: 2.8rem; } }

.tagline {
  font-size: 1.7rem;
  color: #585989;
  text-justify: inter-word;
  margin: 2rem 0; }
  @media only screen and (max-width: 780px) {
    .tagline {
      font-size: 1.2rem; } }

.sub-heading {
  font-size: 3.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-justify: inter-word;
  color: #070439; }
  @media only screen and (max-width: 800px) {
    .sub-heading {
      text-align: center;
      font-size: 2.7rem; } }
  @media only screen and (max-width: 500px) {
    .sub-heading {
      text-align: center;
      font-size: 2rem; } }
  @media only screen and (max-width: 400px) {
    .sub-heading {
      text-align: center;
      font-size: 1.7rem; } }

.paragraph {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #585989;
  width: 90%; }
  @media only screen and (max-width: 500px) {
    .paragraph {
      font-size: 1.4rem;
      text-align: left; } }
  @media only screen and (max-width: 400px) {
    .paragraph {
      text-align: center;
      font-size: 1.2rem; } }

.tertiary-heading {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 900px) {
    .tertiary-heading {
      text-align: center; } }
  @media only screen and (max-width: 500px) {
    .tertiary-heading {
      font-size: 2.4rem; } }

.message {
  font-size: 1.5rem;
  width: 70%;
  color: #bfbfbf; }
  @media only screen and (max-width: 900px) {
    .message {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2rem; } }

.curve-decoration-big,
.curver-decoration-small {
  margin-top: 10rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .curve-decoration-big img,
  .curver-decoration-small img {
    max-width: 100%; }

@media only screen and (max-width: 500px) {
  .curve-decoration-big {
    display: none; } }

.curve-decoration-small {
  display: none; }
  @media only screen and (max-width: 500px) {
    .curve-decoration-small {
      display: block;
      width: 100vw;
      align-self: stretch; }
      .curve-decoration-small img {
        max-width: 100%; } }

.intro-section {
  background: #f8f8fe;
  padding: 4rem 0; }
  @media only screen and (max-width: 500px) {
    .intro-section {
      transform: translateY(-5px); } }

.newsletter {
  background: #585989;
  color: #f6f6fe;
  padding: 10rem 0; }

.u-container {
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%;
      margin: 0 auto; } }
  @media only screen and (max-width: 500px) {
    .u-container {
      width: 95%;
      margin: 0 auto; } }

.navbar {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .navbar .logo {
      width: 14rem; } }
  @media only screen and (max-width: 500px) {
    .navbar .logo {
      width: 8rem; } }
  .navbar__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .navbar__item {
    margin: 1rem;
    padding: 1rem; }
    @media only screen and (max-width: 500px) {
      .navbar__item {
        margin: 0.5rem;
        padding: 0.3rem; } }
  .navbar__link {
    color: #585989;
    font-size: 1.6rem; }
    .navbar__link:hover, .navbar__link:active {
      color: #070439; }
    @media only screen and (max-width: 500px) {
      .navbar__link {
        font-size: 1.4rem; } }

.herobox {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 1000px) {
    .herobox {
      flex-direction: column; } }
  .herobox__content {
    flex: 0 0 50%;
    width: 80%;
    padding: 2rem;
    margin: 0 auto; }
    @media only screen and (max-width: 1000px) {
      .herobox__content {
        order: 2; } }
    @media only screen and (max-width: 400px) {
      .herobox__content {
        width: 100%;
        text-align: center; } }
  .herobox__image {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 1000px) {
      .herobox__image {
        order: 1;
        width: 60vw; } }
    @media only screen and (max-width: 500px) {
      .herobox__image {
        width: 60vw; } }
    @media only screen and (max-width: 400px) {
      .herobox__image {
        width: 90vw; } }
    .herobox__image img {
      width: 100%; }

.newsletter__box {
  display: flex;
  align-items: center;
  width: 90%; }
  @media only screen and (max-width: 630px) {
    .newsletter__box {
      flex-direction: column; } }

.email__container {
  flex: 0 0 70%; }
  @media only screen and (max-width: 630px) {
    .email__container {
      width: 100%;
      margin-bottom: 2rem;
      flex: 1; } }

.input-box {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 1px solid black; }

.newsletter__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; }
  @media only screen and (max-width: 900px) {
    .newsletter__container {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.newsletter__message {
  flex: 0 0 50%; }

.newsletter__cta {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 7rem; }
  @media only screen and (max-width: 900px) {
    .newsletter__cta {
      width: 60%; } }
  @media only screen and (max-width: 600px) {
    .newsletter__cta {
      padding-left: 0; } }

.email__group {
  width: 90%; }
  @media only screen and (max-width: 900px) {
    .email__group {
      width: 100%; } }
  .email__group input {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    outline: 0; }

.btn__container {
  flex: 0 0 30%;
  align-self: stretch;
  margin-left: 1rem; }
  @media only screen and (max-width: 630px) {
    .btn__container {
      width: 100%;
      margin-bottom: 2rem;
      flex: 1;
      margin-left: 0; } }

.btn-primary {
  border: 0;
  background-color: #3065f8;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  color: #f6f6fe;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  outline: 0;
  cursor: pointer; }

.btn__group {
  margin-top: 2rem; }
  @media only screen and (max-width: 900px) {
    .btn__group {
      width: 100%; } }

.btn-primary .btn-signup {
  width: 60%;
  text-align: left; }
  @media only screen and (max-width: 900px) {
    .btn-primary .btn-signup {
      width: 100%; } }

.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 800px) {
    .intro {
      flex-direction: column; } }
  .intro__content {
    flex: 0 0 50%; }
    @media only screen and (max-width: 800px) {
      .intro__content {
        order: 2;
        flex: 1;
        width: 80vw;
        margin-top: 10rem; } }
  .intro__images {
    flex: 0 0 50%; }
    @media only screen and (max-width: 800px) {
      .intro__images {
        order: 1;
        flex: 1;
        width: 60vw; } }
    .intro__images img {
      max-width: 100%; }

.link-primary {
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 5px;
  font-size: 1.6rem;
  color: #3c9f8f;
  font-weight: 400;
  display: flex;
  align-items: center;
  max-width: max-content; }
  @media only screen and (max-width: 800px) {
    .link-primary {
      margin: 0 auto; } }
  .link-primary img {
    margin-left: 1rem; }

.review {
  margin-top: 3rem;
  box-shadow: 2px 3px 1rem rgba(0, 0, 0, 0.5);
  padding: 3rem;
  width: 60%; }
  @media only screen and (max-width: 800px) {
    .review {
      margin: 3rem auto;
      width: 80%; } }
  @media only screen and (max-width: 500px) {
    .review {
      width: 90%;
      margin: 3rem auto;
      padding: 2.2rem; } }
  .review__arrow {
    width: 2rem; }
    .review__arrow img {
      width: 2rem; }
  .review__content {
    font-size: 1.4rem; }
    @media only screen and (max-width: 500px) {
      .review__content {
        font-size: 1.2rem; } }
  .review__person {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }

.person__image {
  width: 5rem;
  height: 5rem; }
  .person__image img {
    max-width: 5rem;
    border-radius: 50%; }

.person__details {
  margin-left: 2rem; }
  .person__details p:first-child {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif; }
