/* Primary */
/* Neutral */
/* Gradients */
/* Font-Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 70%; } }

body {
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  padding: 0; }

.main-heading {
  text-transform: uppercase;
  font-weight: 300;
  color: #ce9797;
  letter-spacing: 10px;
  font-size: 6rem;
  width: 70%; }
  @media only screen and (max-width: 900px) {
    .main-heading {
      text-align: center;
      width: 100%;
      margin: 0 auto; } }
  @media only screen and (max-width: 500px) {
    .main-heading {
      font-size: 5.2rem; } }
  .main-heading span {
    display: block;
    margin: 0;
    font-weight: 600;
    color: #413a3a; }

.tagline {
  font-size: 1.6rem;
  color: #ce9797;
  margin-top: 2rem;
  width: 80%; }
  @media only screen and (max-width: 900px) {
    .tagline {
      text-align: center;
      margin: 2rem auto;
      width: 100%; } }
  @media only screen and (max-width: 840px) {
    .tagline {
      width: 80%; } }

.u-container {
  max-width: 1200px;
  margin: 0 auto; }

.u-center {
  text-align: center; }

.u-70 {
  width: 70%;
  margin: 2rem auto;
  padding: 4rem 2rem; }
  @media only screen and (max-width: 1024px) {
    .u-70 {
      width: 90%;
      padding: 2rem; } }
  @media only screen and (max-width: 840px) {
    .u-70 {
      width: 80%;
      margin-top: 7rem; } }
  @media only screen and (max-width: 600px) {
    .u-70 {
      width: 100%;
      margin-top: 0; } }
  @media only screen and (max-width: 400px) {
    .u-70 {
      padding: 0; } }

.herobox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 840px) {
    .herobox {
      flex-direction: column; } }
  .herobox__content {
    flex: 0 0 60%;
    background: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; }
    @media only screen and (max-width: 840px) {
      .herobox__content {
        flex: 1;
        margin: 0 auto;
        order: 2;
        min-height: max-content; } }
  .herobox__image--desktop {
    flex: 0 0 40%;
    min-height: 100vh;
    background: url("../images/hero-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: pink; }
    @media only screen and (max-width: 840px) {
      .herobox__image--desktop {
        display: none; } }
  .herobox__image--mobile {
    min-width: 100vw;
    min-height: 60vh;
    background: url("../images/hero-mobile.jpg");
    margin-top: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    @media only screen and (min-width: 840px) {
      .herobox__image--mobile {
        display: none; } }
    @media only screen and (max-width: 530px) {
      .herobox__image--mobile {
        margin-top: 12rem; } }
    @media only screen and (max-width: 400px) {
      .herobox__image--mobile {
        margin-top: 15rem;
        background-size: cover;
        min-height: 40vh; } }

.logo-box {
  position: absolute;
  top: 5rem;
  left: 15rem; }
  @media only screen and (max-width: 1024px) {
    .logo-box {
      left: 5rem; } }
  @media only screen and (max-width: 780px) {
    .logo-box {
      left: 10rem; } }
  @media only screen and (max-width: 600px) {
    .logo-box {
      left: 5rem; } }
  @media only screen and (max-width: 500px) {
    .logo-box {
      width: 13rem; } }
  .logo-box img {
    max-width: 100%; }

.main {
  margin-top: 12rem;
  line-height: 1.2; }
  @media only screen and (max-width: 1024px) {
    .main {
      margin-top: 15rem; } }
  @media only screen and (max-width: 900px) {
    .main {
      margin-top: 20rem; } }
  @media only screen and (max-width: 840px) {
    .main {
      margin-top: 10rem;
      width: 70%;
      margin: 0 auto; } }
  @media only screen and (max-width: 780px) {
    .main {
      width: 90%; } }
  @media only screen and (max-width: 600px) {
    .main {
      width: 100%; } }
  @media only screen and (max-width: 400px) {
    .main {
      margin-top: 5rem; } }

.input__group {
  width: 70%;
  margin-top: 2rem;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .input__group {
      width: 70%;
      margin: 3rem auto; } }

.input__value {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 1px solid #ce9797;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #413a3a;
  font-weight: 600; }
  @media only screen and (max-width: 425px) {
    .input__value {
      padding: 1.7rem 3.2rem; } }
  .input__value--error {
    border: 1px solid #f96262; }
  .input__value::placeholder {
    color: rgba(206, 151, 151, 0.6); }

.input__error {
  font-size: 1.3rem;
  display: block;
  padding-left: 2.6rem;
  color: #f96262;
  margin-top: 1rem;
  opacity: 0; }

.input__error-icon {
  position: absolute;
  top: 30%;
  right: 5rem;
  transform: translateY(-30%);
  width: 2rem;
  display: inline-block; }
  @media only screen and (max-width: 400px) {
    .input__error-icon {
      right: 4rem; } }

.btn-primary {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.8rem 4rem;
  border-radius: 3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 2;
  transition: transform 0.3s ease-in-out; }
  .btn-primary:focus {
    outline: 0; }
  @media only screen and (max-width: 425px) {
    .btn-primary {
      padding: 1.5rem 3.6rem; } }

.btn--translate {
  transform: translateX(3rem); }
