/* Primary */
/* Neutral */
/* Gradients */
/* Font-Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  width: 100%;
  padding: 0; }

.main-heading {
  text-transform: uppercase;
  font-weight: 300;
  color: #ce9797;
  letter-spacing: 10px;
  font-size: 6rem;
  width: 70%; }
  .main-heading span {
    display: block;
    margin: 0;
    font-weight: 600;
    color: #413a3a; }

.tagline {
  font-size: 1.6rem;
  color: #ce9797;
  margin-top: 2rem;
  width: 80%; }

.u-container {
  max-width: 1200px;
  margin: 0 auto; }

.u-center {
  text-align: center; }

.u-70 {
  width: 70%;
  margin: 2rem auto;
  padding: 4rem 2rem; }

.herobox {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh; }
  .herobox__content {
    flex: 0 0 60%;
    min-height: 100vh;
    background: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .herobox__image {
    flex: 0 0 40%;
    min-height: 100vh;
    background: url("../images/hero-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .herobox__image img {
      object-fit: cover;
      object-position: center; }

.main {
  margin-top: 8rem;
  line-height: 1.2; }

.input__group {
  width: 70%;
  margin-top: 2rem;
  position: relative; }

.input__value {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 1px solid #ce9797;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #413a3a;
  font-weight: 600; }
  .input__value--error {
    border: 1px solid #f96262; }
  .input__value::placeholder {
    color: rgba(206, 151, 151, 0.6); }

.input__error {
  font-size: 1.3rem;
  display: block;
  padding-left: 2.6rem;
  color: #f96262;
  margin-top: 1rem;
  opacity: 0; }

.input__error-icon {
  position: absolute;
  top: 30%;
  right: 5rem;
  transform: translateY(-30%);
  width: 2rem;
  display: inline-block; }

.btn-primary {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.8rem 4rem;
  border-radius: 3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 2;
  transition: transform 0.3s ease-in-out; }
  .btn-primary:focus {
    outline: 0; }

.btn--translate {
  transform: translateX(3rem); }
