/* Primary Colors */
/* Neutral Colors */
/* Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important; }
  @media only screen and (min-width: 1600px) {
    body {
      font-size: 76.5%; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }
  @media only screen and (min-width: 1600px) {
    .u-container {
      max-width: 1440px; } }

.u-center {
  text-align: center; }

.u-width-60 {
  width: 45%; }

.heading {
  font-weight: 700;
  font-family: "DM Serif Display", sans-serif; }
  .heading--primary {
    padding-top: 7rem;
    font-size: 5.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1; }
    .heading--primary span {
      display: block; }
  .heading--secondary {
    font-size: 4rem; }
    @media only screen and (max-width: 720px) {
      .heading--secondary {
        text-align: center; } }
  .heading--tertiary {
    margin-top: 2rem;
    font-size: 2rem; }
  .heading--cta {
    font-size: 4.2rem;
    color: #fafafa;
    font-weight: 400;
    width: 100%;
    line-height: 1; }
    .heading--cta span {
      display: block; }
    @media only screen and (max-width: 680px) {
      .heading--cta {
        text-align: center; } }
    @media only screen and (max-width: 500px) {
      .heading--cta {
        font-size: 3.5rem; } }

.tagline {
  font-size: 1.6rem;
  margin-top: 3rem;
  color: #837d87; }

.details {
  font-size: 1.6rem;
  color: #837d87;
  margin-top: 2rem; }
  @media only screen and (max-width: 720px) {
    .details {
      text-align: center; } }

/* Background pattern on header -left side */
.pattern-header-left {
  position: absolute;
  bottom: -50%;
  left: -1rem;
  height: 70%; }
  @media only screen and (min-width: 1800px) {
    .pattern-header-left {
      display: none; } }

/* Background pattern on header-right side */
.pattern-header-right {
  position: absolute;
  top: 0;
  right: -1rem;
  height: 70%; }
  @media only screen and (min-width: 1800px) {
    .pattern-header-right {
      display: none; } }

/* Background pattern on how we work-right side */
.pattern-features-right {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%; }
  @media only screen and (max-width: 670px) {
    .pattern-features-right {
      display: none; } }
  .pattern-features-right--small {
    position: absolute;
    top: 0;
    right: 0; }
    @media only screen and (min-width: 671px) {
      .pattern-features-right--small {
        display: none; } }

/* Background pattern on footer-left side */
.pattern-footer-left {
  top: 0;
  left: -5rem;
  position: absolute;
  height: 70%;
  z-index: 1; }
  @media only screen and (max-width: 740px) {
    .pattern-footer-left {
      display: none; } }
  .pattern-footer-left--small {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    @media only screen and (min-width: 741px) {
      .pattern-footer-left--small {
        display: none; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  background: #fff; }
  .navbar__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .navbar__item {
    margin: 0 1rem; }
  .navbar__link {
    font-size: 1.3rem;
    color: #837d87;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out; }
    .navbar__link:hover {
      color: #2b272f; }

.herobox {
  background: #2d2640;
  color: #fafafa;
  position: relative;
  padding: 8rem 0; }
  .herobox .u-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
  .herobox__content {
    flex: 0 0 50%; }
  .herobox__image {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .herobox__image img {
      max-width: 80%; }

.line {
  width: 20%;
  padding-top: 5rem; }

.feature-section {
  margin-top: 20rem; }
  @media only screen and (max-width: 720px) {
    .feature-section {
      margin-top: 10rem; } }

.feature {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 720px) {
    .feature {
      flex-direction: column;
      margin-top: 3rem; } }
  .feature__card {
    margin-right: 3rem; }
    @media only screen and (max-width: 720px) {
      .feature__card {
        margin-right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin-top: 3rem; } }
    @media only screen and (max-width: 500px) {
      .feature__card {
        width: 90%; } }

.icon-box {
  width: 5rem;
  height: 5rem; }

/* Button Container */
.btn__container {
  width: max-content;
  margin-top: 2rem; }

.btn {
  cursor: pointer; }
  .btn--special {
    font-size: 1.3rem;
    color: #2b272f;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid #2b272f;
    padding: 0.5rem 1.5rem;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out; }
    .btn--special:hover {
      background: #2b272f;
      color: #fafafa; }
  .btn--primary {
    outline: none;
    padding: 0.5rem 1.8rem;
    font-size: 1.6rem;
    background: transparent;
    color: #fafafa;
    font-family: "Karla", sans-serif;
    border: 1px solid #fafafa;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: all 0.2s ease-in-out; }
    .btn--primary:hover {
      background: #fafafa;
      color: #2b272f; }

.cta-section {
  background: #2d2640;
  margin: 7rem auto;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 680px) {
    .cta-section {
      flex-direction: column;
      align-items: center;
      padding: 4rem 2rem; } }

.cta__content {
  width: 50%; }
  @media only screen and (max-width: 680px) {
    .cta__content {
      width: 90%; } }
  @media only screen and (max-width: 500px) {
    .cta__content {
      width: 100%; } }

.cta__button-container {
  z-index: 10; }
  @media only screen and (max-width: 680px) {
    .cta__button-container {
      margin-top: 2rem; } }

footer {
  background: #fafafa;
  padding: 4rem;
  position: relative; }

.footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 740px) {
    .footer__upper {
      flex-direction: column; } }

.footer__lower {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; }
  @media only screen and (max-width: 740px) {
    .footer__lower {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto; } }

/* Socials Icons */
.social__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.social__item {
  margin: 0rem 1rem; }
  @media only screen and (max-width: 740px) {
    .social__item {
      margin-top: 2rem; } }

/* Footer Links */
.footer * {
  z-index: 10; }

.footer__items {
  align-self: flex-start; }
  @media only screen and (max-width: 740px) {
    .footer__items {
      align-self: center; } }

.footer__item {
  text-align: center; }

.footer__item:first-child {
  margin-bottom: 2rem;
  font-weight: 400; }
  @media only screen and (max-width: 740px) {
    .footer__item:first-child {
      margin-top: 3rem; } }

.footer__item:not(:first-child) {
  margin-bottom: 0.5rem; }

.footer__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #2b272f;
  font-weight: 700; }
  .footer__link--1 {
    color: #837d87; }
