/* Primary Colors */
/* Neutral Colors */
/* Other  Colors */
/* Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  box-sizing: border-box; }

.heading__box {
  margin: 0 auto;
  width: 40rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 438px) {
    .heading__box {
      width: 90%; } }

.feature-card {
  width: 28rem;
  padding: 2rem;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.322); }
  @media only screen and (max-width: 920px) {
    .feature-card {
      margin-bottom: 2rem; } }
  .feature-card__head {
    font-weight: 600;
    font-size: 1.8rem;
    color: #4c4e61; }
  .feature-card__info {
    font-weight: 200;
    font-size: 1.2rem;
    margin: 1.7rem 0;
    max-width: 85%;
    color: #a3a5ae; }
  .feature-card img {
    width: 6rem;
    height: 6rem;
    align-self: flex-end; }
  .feature-card--one {
    border-top: 4px solid #45d3d3; }
  .feature-card--two {
    border-top: 4px solid #ea5353;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 920px) {
      .feature-card--two {
        margin-bottom: 2rem; } }
  .feature-card--three {
    border-top: 4px solid #fcaf4a; }
  .feature-card--four {
    border-top: 4px solid #549ef2; }

.link {
  text-decoration: none; }
  .link:hover, .link:active {
    color: #549ef2; }

.main__heading {
  font-size: 3rem;
  font-weight: 200; }
  @media only screen and (max-width: 438px) {
    .main__heading {
      font-size: 2.6rem; } }

.sub__heading {
  font-size: 3rem;
  font-weight: 600;
  color: #4c4e61; }
  @media only screen and (max-width: 438px) {
    .sub__heading {
      font-size: 2.6rem; } }

.tagline {
  font-size: 1.2rem;
  color: #a3a5ae;
  text-justify: inter-word;
  text-align: center; }
  @media only screen and (max-width: 438px) {
    .tagline {
      margin: 0 2rem; } }

.u-center {
  text-align: center; }

.u-container {
  max-width: 1140px;
  margin: 0 auto; }
  @media only screen and (max-width: 500px) {
    .u-container {
      width: 90%;
      margin: 0 auto; } }

.u-margin-top-sm {
  margin-top: 1rem; }

.u-margin-bottom-lg {
  margin-bottom: 4rem; }

.feature__cards {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 920px) {
    .feature__cards {
      flex-direction: column;
      justify-content: center; } }

.footer {
  width: 100%;
  margin-top: 4rem;
  padding: 2rem 0rem; }
  .footer__line {
    font-size: 2rem; }
  .footer__credits {
    font-size: 1.3rem;
    margin: 2rem 0; }
    @media only screen and (max-width: 438px) {
      .footer__credits {
        margin: 2rem 5rem; } }
