.feature-section {
  margin-top: 20rem;
}

.feature {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__card {
    margin-right: 3rem;
  }
}

.icon-box {
  width: 5rem;
  height: 5rem;
}
