/* Background pattern on header -left side */
.pattern-header-left {
  position: absolute;
  bottom: -50%;
  left: -1rem;
  height: 70%;
  @media only screen and(min-width:1800px) {
    display: none;
  }
}

/* Background pattern on header-right side */
.pattern-header-right {
  position: absolute;
  top: 0;
  right: -1rem;
  height: 70%;
  @media only screen and(min-width:1800px) {
    display: none;
  }
}

/* Background pattern on how we work-right side */
.pattern-features-right {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
}

/* Background pattern on footer-left side */

.pattern-footer-left {
  top: 0;
  left: -5rem;
  position: absolute;
  height: 70%;
  z-index: 10;
}
