*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size:62.5%; 
}

body{
    line-height: 1.5;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:$light;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}