.u-container {
  max-width: 120rem;
  margin: 0 auto;
  // background-color: pink;
}

.u-center {
  text-align: center;
}

.u-70 {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 4rem;
  background-color:yellow;
}

.logo-box {
  margin: 0 auto;
  max-width: max-content;
  margin-top: 5rem;
}
