.social {
  max-width: max-content;
  display: flex;
  margin: 2rem auto;
  &__items {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    img {
      width: 3rem;

    }
  }
}
