/* Primary Colors */
$blue: hsl(223, 87%, 63%);

/* Secondary Colors*/
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

/* Neutral Colors */
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$white: #fff;

/* Font Weight */
$light: 300;
$normal: 600;
$bold: 700;
