.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  margin: 5rem auto;
}

.slider {
  min-height: 70vh;
  min-width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  &__content {
    flex: 0 0 40%;
    height: 100%;
    min-height: 70vh;
    img {
      max-width: 100%;
      width: 10rem;
    }
  }
  &__image {
    flex: 0 0 40%;
    height: 100%;
    min-height: 70vh;
    position: relative;
    z-index: 1;
    .background-image {
      z-index: -10;
      max-width: 100%;
    }
  }
}

.person__image {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  img {
    max-width: 100%;
  }
}
