*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and(max-width:900px) {
    font-size: 56%;
  }
  @media only screen and(min-width:1440px) {
    font-size: 70%;
  }
}

body {
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  font-weight: $normal;
  width: 100%;
  padding: 0;
}
