.btn-primary {
  background: $gradient-2;
  padding: 1.6rem 4rem;
  border-radius: 3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 2;

  &:focus {
    outline: 0;
  }
}

.btn--translate{
    transform:translateX(3rem)
}
