.u-container {
  max-width: 1200px;
  margin: 0 auto;
}

.u-center {
  text-align: center;
}

.u-70 {
  width: 70%;
  margin: 2rem auto;
  padding: 4rem 2rem;
  @media only screen and (max-width: 1024px) {
    width: 90%;
    padding: 2rem;

  }
  @media only screen and(max-width:840px) {
    width: 80%;
    margin-top: 7rem;
  }
  @media only screen and(max-width:600px) {
    width: 100%;
    margin-top: 0;
  }
  @media only screen and(max-width:400px) {
    padding: 0;
  }
}
