.u-container {
  max-width: 1200px;
  margin: 0 auto;
}

.u-center {
  text-align: center;
}

.u-70 {
  width: 70%;
  margin: 2rem auto;
  padding: 4rem 2rem;
  // background-color: rgba(0, 255, 255, 0.514);
}
