.main-heading {
  text-transform: uppercase;
  font-weight: $light;
  color: $desaturated-red;
  letter-spacing: 10px;
  font-size: 6rem;
  width: 70%;
  span {
    display: block;
    margin: 0;
    font-weight: $bold;
    color: $dark-grayish-red;
  }
}

.tagline {
  font-size: 1.6rem;
  color: $desaturated-red;
  margin-top: 2rem;
  width: 80%;
}
