.landing-header {
  background: url("../images/bg-desktop.svg");
  background-color: $violet;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
  @media only screen and (max-width: 1140px) {
    background-size: cover;
  }
  @media only screen and (max-width: 700px) {
    background: url("../images/bg-mobile.svg");
    background-color: $violet;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.logo-box {
  width: 20rem;
  img {
    max-width: 100%;
  }
}
