.features {
  background: $light-grayish-blue;
  padding: 10rem 0;
}

.feature__cards {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  &:not(:last-child) {
    margin-right: 4rem;
  }
  h2 {
    margin: 1rem 0;
    color: $dark-blue;
    font-weight: $bold;
    font-size: 2rem;
  }

  &__details {
    color: $grayish-blue;
    font-size: 1.5rem;
  }
}
