/* Primary Colors */
/* Neutral Colors*/
/* Font Weights */
/* Shadow's */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }

.u-center {
  text-align: center; }

.u-contain-60 {
  width: 60%;
  margin: 0 auto; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e; }
  .heading--primary {
    font-size: 3rem;
    text-align: center; }

.tagline {
  width: 60%;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 37, 46, 0.6);
  font-weight: 600; }

.stats__number {
  font-size: 4rem;
  font-weight: 700;
  color: #00252e; }

.stats__type {
  font-size: 1.3rem;
  color: rgba(0, 37, 46, 0.6);
  font-weight: 600; }

.herobox {
  margin-top: 8rem; }
  .herobox__image {
    text-align: center;
    margin-top: 4rem; }
    .herobox__image img {
      max-width: 80%; }
  .herobox__infobox {
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo-box {
  width: 20rem; }
  .logo-box img {
    max-width: 100%; }

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* Buttons Contaniner's */
.btn__container {
  width: 40%;
  margin: 2rem auto; }

.btn {
  border: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  cursor: pointer; }

.btn--primary {
  border: 1px solid #ff52bf;
  padding: 1rem 2.2rem;
  font-size: 1.3rem;
  border-radius: 4rem;
  color: #ff52bf;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out; }
  .btn--primary:hover {
    background: #ff52bf;
    color: #fff; }

.btn--secondary {
  background-color: #ff52bf;
  color: #f5faff;
  width: 90%;
  height: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  transition: all 0.2s ease-in-out; }
  .btn--secondary:hover {
    background-color: rgba(255, 82, 191, 0.9); }
