/* Primary Colors */
/* Neutral Colors*/
/* Font Weights */
/* Shadow's */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }

.u-center {
  text-align: center; }

.logo-box {
  width: 20rem; }
  .logo-box img {
    max-width: 100%; }

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn {
  border: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  cursor: pointer; }

.btn--primary {
  border: 1px solid #ff52bf;
  background: transparent;
  padding: 1rem 2.2rem;
  font-size: 1.3rem;
  border-radius: 4rem;
  color: #ff52bf;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out; }
  .btn--primary:hover {
    background: #ff52bf;
    color: #fff; }
