/* Primary Colors */
/* Neutral Colors*/
/* Font Weights */
/* Shadow's */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important; }
  @media only screen and (min-width: 1600px) {
    body {
      font-size: 76.5%; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }
  @media only screen and (min-width: 1600px) {
    .u-container {
      max-width: 1440px; } }

.u-center {
  text-align: center; }

.u-contain-60 {
  width: 60%;
  margin: 0 auto; }
  @media only screen and (max-width: 1070px) {
    .u-contain-60 {
      width: 70%; } }
  @media only screen and (max-width: 930px) {
    .u-contain-60 {
      width: 90%; } }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #00252e; }
  .heading--primary {
    font-size: 3rem;
    text-align: center; }
    @media only screen and (max-width: 730px) {
      .heading--primary {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 500px) {
      .heading--primary {
        font-size: 2.5rem; } }
  .heading--secondary {
    font-size: 2.6rem; }
    @media only screen and (max-width: 760px) {
      .heading--secondary {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 720px) {
      .heading--secondary {
        text-align: center;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 450px) {
      .heading--secondary {
        font-size: 2.1rem; } }
  .heading--tertiary {
    font-size: 2.7rem;
    text-align: center; }
    @media only screen and (max-width: 670px) {
      .heading--tertiary {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 500px) {
      .heading--tertiary {
        font-size: 2rem; } }

.tagline {
  width: 60%;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 37, 46, 0.6);
  font-weight: 600; }
  @media only screen and (max-width: 1000px) {
    .tagline {
      width: 100%; } }

.stats__number {
  font-size: 4rem;
  font-weight: 700;
  color: #00252e; }

.stats__type {
  font-size: 1.3rem;
  color: rgba(0, 37, 46, 0.6);
  font-weight: 600; }

.details {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  color: #00252e; }
  @media only screen and (max-width: 760px) {
    .details {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 720px) {
    .details {
      text-align: center;
      width: 50%;
      margin: 0 auto; } }
  @media only screen and (max-width: 540px) {
    .details {
      width: 70%; } }
  @media only screen and (max-width: 450px) {
    .details {
      width: 80%; } }

.herobox {
  margin-top: 8rem; }
  .herobox__image {
    text-align: center;
    margin-top: 4rem; }
    .herobox__image img {
      max-width: 80%; }
  .herobox__infobox {
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 930px) {
      .herobox__infobox {
        width: 50%; } }
    @media only screen and (max-width: 750px) {
      .herobox__infobox {
        width: 70%; } }
    @media only screen and (max-width: 500px) {
      .herobox__infobox {
        width: 100%;
        flex-direction: column; } }

@media only screen and (max-width: 500px) {
  .infobox {
    margin: 2rem 0; } }

.iconbox {
  width: 3rem;
  height: 3rem; }
  .iconbox img {
    max-width: 100%; }

.logo-box {
  width: 20rem; }
  @media only screen and (max-width: 430px) {
    .logo-box {
      width: 15rem; } }
  .logo-box img {
    max-width: 100%; }

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__cta {
    height: 100%; }

/* Buttons Contaniner's */
.btn__container {
  width: 40%;
  margin: 2rem auto; }
  @media only screen and (max-width: 730px) {
    .btn__container {
      width: 50%; } }
  @media only screen and (max-width: 410px) {
    .btn__container {
      width: 60%; } }

.btn {
  border: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  cursor: pointer; }

.btn--primary {
  border: 1px solid #ff52bf;
  padding: 1rem 2.2rem;
  font-size: 1.3rem;
  border-radius: 4rem;
  color: #ff52bf;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 430px) {
    .btn--primary {
      padding: 0.5rem 1.7rem; } }
  .btn--primary:hover {
    background: #ff52bf;
    color: #fff; }

.btn--secondary {
  background-color: #ff52bf;
  color: #f5faff;
  width: 90%;
  height: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  transition: all 0.2s ease-in-out; }
  .btn--secondary:hover {
    background-color: rgba(255, 82, 191, 0.9); }
  @media only screen and (max-width: 375px) {
    .btn--secondary {
      width: 100%; } }

.features {
  margin: 8rem 0; }
  @media only screen and (max-width: 450px) {
    .features {
      margin: 0 auto; } }

.featurescard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f5faff;
  position: relative; }
  @media only screen and (max-width: 720px) {
    .featurescard {
      flex-direction: column;
      padding: 3rem 0; } }
  .featurescard--1 {
    background: #fff;
    margin: 6rem 0; }
    @media only screen and (max-width: 450px) {
      .featurescard--1 {
        margin: 3rem 0; } }
  .featurescard__content {
    flex: 0 0 40%; }
    @media only screen and (max-width: 720px) {
      .featurescard__content {
        order: 2;
        margin-top: 4rem; } }
    .featurescard__content--1 {
      order: 2; }
  .featurescard__images {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 720px) {
      .featurescard__images {
        order: 1; } }
    .featurescard__images--2 {
      order: 1; }
    .featurescard__images img {
      max-width: 80%; }
      @media only screen and (max-width: 720px) {
        .featurescard__images img {
          max-width: 50%; } }

/* Curves used as highlighter*/
.highlighter--top {
  max-width: 100%;
  width: 100%;
  transform: translateY(1rem); }
  @media only screen and (max-width: 720px) {
    .highlighter--top {
      display: none; } }
  @media only screen and (min-width: 451px) {
    .highlighter--top--small {
      display: none; } }
  @media only screen and (max-width: 450px) {
    .highlighter--top--small {
      display: inline;
      max-width: 100%;
      width: 100%;
      transform: translateY(1rem); } }

.highlighter--bottom {
  max-width: 100%;
  width: 100%;
  transform: translateY(-1rem); }
  @media only screen and (max-width: 720px) {
    .highlighter--bottom {
      display: none; } }
  @media only screen and (min-width: 451px) {
    .highlighter--bottom--small {
      display: none; } }
  @media only screen and (max-width: 450px) {
    .highlighter--bottom--small {
      display: inline;
      max-width: 100%;
      width: 100%;
      transform: translateY(-1rem); } }

.community__box {
  width: 50%;
  margin: 5rem auto;
  padding: 2rem 0; }
  @media only screen and (max-width: 980px) {
    .community__box {
      width: 80%; } }
  @media only screen and (max-width: 670px) {
    .community__box {
      width: 90%; } }

footer {
  background-color: #00252e;
  position: relative;
  color: #f5faff;
  margin-top: 0rem; }

/* Curver Decoration on Footer */
.footer-curve {
  width: 100%;
  transform: translateY(1rem); }

.footer {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 1000px) {
    .footer {
      flex-direction: column; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%; }
    @media only screen and (max-width: 1000px) {
      .footer__left {
        order: 2;
        flex: 1;
        width: 50%;
        align-self: flex-start;
        margin-top: 5rem; } }
    @media only screen and (max-width: 810px) {
      .footer__left {
        width: 70%; } }
    @media only screen and (max-width: 400px) {
      .footer__left {
        width: 100%; } }
    .footer__left p {
      font-size: 1.3rem;
      margin-top: 3rem; }
      @media only screen and (max-width: 810px) {
        .footer__left p {
          width: 90%; } }
      .footer__left p span {
        margin-left: 2rem; }
  .footer__right {
    flex: 0 0 40%;
    align-self: flex-start; }
    @media only screen and (max-width: 1000px) {
      .footer__right {
        order: 1;
        width: 50%;
        flex: 1;
        align-self: flex-start; } }
    @media only screen and (max-width: 810px) {
      .footer__right {
        width: 70%; } }
    @media only screen and (max-width: 400px) {
      .footer__right {
        width: 100%; } }
    .footer__right p {
      font-size: 1.3rem;
      width: 70%;
      margin-top: 3rem; }
      @media only screen and (max-width: 810px) {
        .footer__right p {
          width: 90%; } }

/* Newsletter Box on footer */
.newsletter__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }
  @media only screen and (max-width: 580px) {
    .newsletter__box {
      flex-direction: column; } }
  .newsletter__box input {
    height: 100%;
    font-size: 1.3rem;
    width: 100%;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 0 0 68%;
    font-family: "Poppins", sans-serif; }
  .newsletter__box button {
    flex: 0 0 30%;
    border-radius: 0.4rem;
    padding: 0.9rem 2rem;
    display: block; }
    @media only screen and (max-width: 580px) {
      .newsletter__box button {
        margin-top: 1rem;
        align-self: flex-end;
        width: 50%; } }

/* Credits Section*/
.footer__line {
  font-size: 2.1rem; }

.footer__credits {
  font-size: 1.4rem;
  padding: 1.2rem 0; }

.link {
  color: #ff52bf; }
