.main-heading {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  width: 80%;
  margin: 0 auto;
  font-weight: $bold;
}

.secondary-heading {
  margin: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

.tertiary-heading {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: left;
  width: 50%;
  line-height: 1.2;
}

.tagline {
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  margin: 0rem auto;
  margin-top: 2rem;
  color: rgba($white, 0.5);
}

.details {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: rgba($white, 0.5);
}

.context {
  margin-right: 1rem;
  margin-top: 1.5rem;
  width: 80%;
  font-size: 1.3rem;
}
