.u-container {
  max-width: 120rem;
  margin: 0 auto;
  @media only screen and(max-width:1200px) {
    width: 90%;
  }
  @media only screen and(min-width:1600px) {
    max-width: 1440px;
  }
}

.u-center {
  text-align: center;
}

.u-50 {
  width: 50%;
  margin: 0 auto;

  @media only screen and(max-width:980px) {
    width: 80%;
  }
  @media only screen and(max-width:700px) {
    width: 100%;
    margin: 0 auto;
  }
}
