/* Primary Colors */
/* Neutral Colors */
/* Font Weights */
/* Box-Shadow */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

.primary--heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: #00252e;
  width: 70%;
  font-weight: 700; }
  @media only screen and (max-width: 1200px) {
    .primary--heading {
      text-align: center;
      width: 50%;
      margin: 0 auto; } }
  @media only screen and (max-width: 768px) {
    .primary--heading {
      width: 80%; } }
  @media only screen and (max-width: 500px) {
    .primary--heading {
      width: 90%;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 350px) {
    .primary--heading {
      width: 90%;
      font-size: 2rem; } }

.tagline {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 80%;
  color: #00252e; }
  @media only screen and (max-width: 1200px) {
    .tagline {
      text-align: center;
      width: 50%;
      margin: 2rem auto; } }
  @media only screen and (max-width: 768px) {
    .tagline {
      flex: 1;
      width: 80%;
      margin: 2rem auto; } }
  @media only screen and (max-width: 500px) {
    .tagline {
      flex: 1;
      width: 90%;
      margin: 2rem auto; } }

.secondary--heading {
  font-size: 3.2rem;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }
  @media only screen and (max-width: 850px) {
    .secondary--heading {
      text-align: center; } }
  @media only screen and (max-width: 500px) {
    .secondary--heading {
      font-size: 2.5rem; } }

.tagline--small {
  font-size: 1.4rem;
  color: rgba(128, 141, 153, 0.8);
  width: 80%;
  margin: 0;
  text-align: left; }
  @media only screen and (max-width: 850px) {
    .tagline--small {
      text-align: center;
      margin: 2rem auto; } }
  @media only screen and (max-width: 500px) {
    .tagline--small {
      width: 90%; } }

.tertiary--heading {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center; }
  @media only screen and (max-width: 500px) {
    .tertiary--heading {
      font-size: 1.5rem; } }

.copyright {
  font-size: 1.3rem;
  color: #fff;
  text-align: right;
  font-weight: 400;
  margin-top: 2rem; }

.u-container {
  max-width: 1200px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%;
      margin: 0 auto; } }

.u-center {
  text-align: center; }

.u-margin-4 {
  margin: 4rem; }

.u-width-70 {
  width: 70%;
  margin: 0 auto;
  background-color: yellow; }

.header {
  padding-top: 3rem;
  background: url("../../images/bg-hero-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebfbff;
  min-height: 100vh; }
  @media only screen and (max-width: 1200px) {
    .header {
      padding-top: 5rem; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logobox {
    padding: 1rem 0; }
    @media only screen and (max-width: 500px) {
      .navbar__logobox {
        width: 14rem;
        height: auto; }
        .navbar__logobox img {
          max-width: 100%; } }

.herobox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem; }
  @media only screen and (max-width: 1200px) {
    .herobox {
      flex-direction: column;
      margin-top: 8rem; } }
  .herobox__content {
    flex: 0 0 50%; }
    @media only screen and (max-width: 1200px) {
      .herobox__content {
        flex: 1;
        width: 90%;
        margin: 3rem auto; } }
  .herobox__image {
    flex: 0 0 50%; }
    @media only screen and (max-width: 1200px) {
      .herobox__image {
        flex: 1;
        width: 60%;
        margin: 3rem auto; } }
    @media only screen and (max-width: 500px) {
      .herobox__image {
        width: 90%;
        font-size: 2.8rem; } }
    .herobox__image img {
      max-width: 100%; }

/* Button container */
.mainbtn--container {
  margin-top: 2rem;
  width: 40%; }
  @media only screen and (max-width: 1200px) {
    .mainbtn--container {
      text-align: center;
      width: 50%;
      margin: 2rem auto; } }
  @media only screen and (max-width: 500px) {
    .mainbtn--container {
      width: 90%; } }

.commbtn--container {
  width: 40%;
  margin: 2rem auto; }
  @media only screen and (max-width: 650px) {
    .commbtn--container {
      width: 60%; } }
  @media only screen and (max-width: 500px) {
    .commbtn--container {
      width: 80%; } }

.btn {
  border: 0;
  border-radius: 2.5rem;
  outline: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif; }

.btn--primary {
  background: #fff;
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  color: #00252e;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  height: 100%; }
  @media only screen and (max-width: 500px) {
    .btn--primary {
      padding: 0.8rem 2rem;
      font-size: 1.1rem; } }
  .btn--primary:hover {
    background: #ff52bf;
    color: #fff; }

.btn--secondary {
  background: #ff52bf;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    .btn--secondary {
      padding: 1.5rem 3rem;
      font-size: 1.5rem; } }
  @media only screen and (max-width: 500px) {
    .btn--secondary {
      padding: 1rem 2.5rem;
      font-size: 1.3rem; } }
  .btn--secondary:hover {
    background: #fff;
    color: #ff52bf;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); }

.featurebox {
  margin-top: 10rem;
  margin-bottom: 25rem; }

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 5rem auto;
  padding: 5rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem; }
  @media only screen and (max-width: 850px) {
    .features {
      flex-direction: column; } }
  @media only screen and (max-width: 700px) {
    .features {
      padding: 2rem; } }
  .features__content {
    flex: 0 0 40%; }
    @media only screen and (max-width: 850px) {
      .features__content {
        flex: 1;
        order: 2;
        width: 60%;
        margin: 5rem auto; } }
    @media only screen and (max-width: 700px) {
      .features__content {
        width: 90%; } }
    .features__content--1 {
      order: 2; }
  .features__images {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    @media only screen and (max-width: 850px) {
      .features__images {
        order: 1;
        width: 60%; } }
    @media only screen and (max-width: 700px) {
      .features__images {
        width: 90%; } }
    .features__images--1 {
      order: 1; }
    .features__images img {
      max-width: 90%; }

footer {
  background: #00252e;
  min-height: 20vh;
  padding: 2rem 0;
  position: relative; }

.communitybox {
  background: #fff;
  padding: 5rem 2rem 2rem 2rem;
  width: 40%;
  border-radius: 1rem;
  margin: 0 auto;
  position: absolute;
  top: -20%;
  left: 50%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-50%); }
  @media only screen and (max-width: 1220px) {
    .communitybox {
      width: 70%; } }
  @media only screen and (max-width: 850px) {
    .communitybox {
      width: 90%; } }
  @media only screen and (max-width: 500px) {
    .communitybox {
      padding: 1rem;
      top: -10%; } }

/* Main Footer */
.footer {
  margin-top: 15rem; }
  .footer__logo {
    width: 15rem; }
    .footer__logo img {
      max-width: 100%; }
  .footer__socials {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__items {
    flex: 0 0 20%;
    background: pink;
    justify-self: center; }
    .footer__items:first-child {
      flex: 0 0 25%; }
    .footer__items:last-child {
      flex: 0 0 10%;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
  .footer__item {
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem; }
    .footer__item--special {
      display: flex;
      align-items: flex-start;
      padding-left: 1rem; }

.item-icon {
  margin-right: 1rem; }
  .item-icon img {
    width: 1.5rem; }
