.features {
  margin: 15rem 0;
}

.featurescard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $very-pale-blue;
  margin-bottom: 15rem;
  position: relative;

  &--1 {
    background: $white;
    margin-bottom: 20rem;
  }

  &__content {
    flex: 0 0 40%;

    &--1 {
      order: 2;
    }
  }

  &__images {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--2 {
      order: 1;
    }

    img {
      max-width: 80%;
    }
  }
}

/* Curves used as highlighter*/

.highlighter--top {
  max-width: 100%;
  position: absolute;
  top: -13rem;
  left: 0;
}

.highlighter--bottom {
  max-width: 100%;
  position: absolute;
  bottom: -13rem;
  left: 0;
}
