footer {
  background-color: $very-dark-cyan;
  position: relative;
  color: $very-pale-blue;
  margin-top: 0rem;
}

/* Curver Decoration on Footer */

.footer-curve {
  width: 100%;
  transform: translateY(1rem);
}

.footer {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    @media only screen and (max-width: 1000px) {
      order: 2;
      flex: 1;
      width: 50%;
      align-self: flex-start;
      margin-top: 5rem;
    }
    @media only screen and(max-width:810px) {
      width: 70%;
    }
    @media only screen and(max-width:400px) {
      width: 100%;
    }

    p {
      font-size: 1.3rem;
      margin-top: 3rem;
      @media only screen and(max-width:810px) {
        width: 90%;
      }

      span {
        margin-left: 2rem;
      }
    }
  }

  &__right {
    flex: 0 0 40%;
    align-self: flex-start;
    @media only screen and (max-width: 1000px) {
      order: 1;
      width: 50%;
      flex: 1;
      align-self: flex-start;
    }
    @media only screen and(max-width:810px) {
      width: 70%;
    }
    @media only screen and(max-width:400px) {
      width: 100%;
    }

    p {
      font-size: 1.3rem;
      width: 70%;
      margin-top: 3rem;
      @media only screen and(max-width:810px) {
        width: 90%;
      }
    }
  }
}

/* Newsletter Box on footer */

.newsletter__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  @media only screen and(max-width:580px) {
    flex-direction: column;
  }

  input {
    height: 100%;
    font-size: 1.3rem;
    width: 100%;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 0 0 68%;
    font-family: "Poppins", sans-serif;
  }
  button {
    flex: 0 0 30%;
    border-radius: 0.4rem;
    padding: 0.9rem 2rem;
    display: block;
    @media only screen and(max-width:580px) {
      margin-top: 1rem;
      align-self: flex-end;
      width: 50%;
    }
  }
}

/* Credits Section*/

.footer {
  &__line {
    font-size: 2.1rem;
  }

  &__credits {
    font-size: 1.4rem;
    padding:1.2rem 0;
  }
}


.link{
  color:$pink;
}