.herobox {
  margin-top: 8rem;

  &__image {
    text-align: center;
    margin-top: 4rem;
    img {
      max-width: 80%;
    }
  }

  &__infobox {
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 930px) {
      width: 50%;
    }
    @media only screen and (max-width: 750px) {
      width: 70%;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.infobox {
  @media only screen and (max-width: 500px) {
    margin: 2rem 0;
  }
}
.iconbox {
  width: 3rem;
  height: 3rem;
  img {
    max-width: 100%;
  }
}
