.logo-box {
  width: 20rem;
  @media only screen and(max-width:430px) {
    width: 15rem;
    
  }
  img {
    max-width: 100%;
  }
}

.navbar {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__cta {
    height: 100%;
  }
}
