/* ### Primary Colors*/
/* ### Neutral Colors*/
/* ## Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  overflow-x: hidden !important; }
  @media only screen and (min-width: 1600px) {
    body {
      font-size: 76.5%; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .u-container {
      width: 90%; } }

.u-center {
  text-align: center; }

.u-width-50 {
  width: 40%;
  padding: 2rem 0; }

.heading {
  color: #4c545d;
  text-align: center;
  font-weight: 600; }
  .heading--primary {
    font-size: 3rem; }
  .heading--secondary {
    font-size: 2.3rem; }
  .heading--tertiary {
    text-align: left;
    font-size: 2rem; }
  .heading--desc {
    font-size: 1.7rem;
    margin-top: 2rem; }

.text {
  color: #9fabb2;
  font-size: 1.4rem; }

.tagline {
  margin: 1rem 0;
  text-align: center; }

.header {
  background: url("../../images/bg-header-desktop.png");
  background-position: top;
  background-repeat: no-repeat; }

.logo-box {
  padding-top: 8rem;
  width: 8rem;
  margin: 0 auto; }
  .logo-box img {
    max-width: 100%; }

.herobox {
  margin: 2rem auto; }

.contentbox {
  margin: 4rem auto; }

.imagebox {
  margin: auto;
  width: 50%; }
  .imagebox img {
    max-width: 100%; }

.iconbox {
  display: flex;
  justify-content: center;
  align-items: center; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto; }
  .about__image {
    flex: 0 0 50%; }
    .about__image img {
      max-width: 100%;
      transform: translateX(-6rem); }
  .about__content {
    flex: 0 0 50%;
    padding: 0 4rem; }

/* Information for about section */
.about__lists {
  width: 60%;
  margin-top: 2rem; }

/* Button Container */
.btn-container {
  margin: u auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

.btn {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); }
  .btn--green {
    background: #26baa4;
    margin: 0 1rem; }
    .btn--green:hover {
      background: rgba(38, 186, 164, 0.8); }
  .btn--blue {
    background: #6173ff; }
    .btn--blue:hover {
      background: rgba(97, 115, 255, 0.8); }

.features {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.feature__card {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; }
