.u-container {
  max-width: 1200px;
  margin: 0 auto;
}

.u-center {
  text-align: center;
}

.u-margin-4 {
  margin: 4rem;
}

.u-width-70 {
  width: 70%;
  margin: 0 auto;
  background-color: yellow;
  
}
