.primary--heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  color: $very-dark-cyan;
  width: 70%;
  font-weight: $bold;
}

.tagline {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: $light;
  width: 80%;
  color: $very-dark-cyan;
}
