*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: $normal;
  box-sizing: border-box;
  background: url("../images/bg-intro-desktop.png");
  background-color: $red;
  background-position: center;
  background-size: cover;
}

a{
  text-decoration: none;
}