.main-heading {
  font-size: 3.7rem;
  color: $white;
  @media only screen and (max-width: 850px) {
    text-align: center;
  }
  @media only screen and (max-width: 430px) {
    font-size: 2.8rem;
  }
}

.tagline {
  font-size: 1.2rem;
  color: rgba($white, 0.9);
  margin: 2rem 0;
  @media only screen and (max-width: 850px) {
    text-align: center;
  }
}

.terms {
  font-size: 1rem;
  color: $grayish-blue;
  text-align: center;
  @media only screen and (max-width: 540px) {
    text-justify: inter-word;
  }
  @media only screen and (max-width: 430px) {
    width: 90%;
    padding: 0 2rem;
  }
  a {
    color: $red;
    font-weight: $bold;
  }
}
