/* Primary Colors */
/* Neutral Colors */
/* Other Colors */
/* Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  background: #e5eff5; }

.hero-box {
  width: 55vw;
  margin: 5rem auto; }
  .hero-box > * {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.438); }
  .hero-box__content {
    background: #fff;
    padding: 4rem 4rem;
    border-radius: 1rem 1rem 0 0; }
  .hero-box__details {
    display: flex;
    border-radius: 0 0 1rem 1rem; }

.pricing-box {
  flex: 0 0 50%;
  background-color: #2ab2af;
  border-bottom-left-radius: 1rem;
  color: #e5eff5;
  padding: 4rem; }
  .pricing-box__head {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .pricing-box__price {
    font-size: 3rem;
    display: flex;
    align-items: center; }
    .pricing-box__price span {
      font-size: 1.5rem;
      color: rgba(229, 239, 245, 0.5);
      display: block;
      margin-left: 1.4rem; }
  .pricing-box__tagline {
    font-size: 1.6rem; }

.details-box {
  flex: 0 0 50%;
  background-color: #19ccc9;
  border-bottom-right-radius: 1rem;
  color: #e5eff5;
  padding: 4rem; }
  .details-box__head {
    font-size: 2rem; }
  .details-box__lists {
    list-style: none; }
    .details-box__lists li {
      font-size: 1.4rem;
      color: rgba(229, 239, 245, 0.8); }

/* Buttons */
.btn {
  background: #c0df34;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #e5eff5;
  width: 80%;
  display: block;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-family: "Karla";
  margin-top: 2rem;
  text-align: center;
  padding: 1.2rem 0rem; }

.hero-box__main-head {
  color: #2ab2af;
  font-size: 2.6rem;
  font-weight: 700;
  border-radius: 1rem; }

.hero-box__sub-head {
  color: #c0df34;
  margin: 0.5rem 0rem;
  font-size: 1.9rem; }

.hero-box__tagline {
  font-size: 1.7rem;
  color: #98a6bd; }

/*Footer*/
.footer {
  width: 100%;
  margin-top: 4rem;
  padding: 2rem 0rem; }
  .footer__line {
    font-size: 2rem; }
  .footer__credits {
    font-size: 1.3rem;
    margin: 2rem 0; }
    @media only screen and (max-width: 438px) {
      .footer__credits {
        margin: 2rem 5rem; } }

.u-center {
  text-align: center; }
