.hero-box {
  width: 80%;
  margin: 0 auto;
  background: pink;
  padding: 4rem 0rem;
  &__content {
    background: $white;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 4rem;
    border-radius: 1rem 1rem 0 0;
  }
}

.hero-details {
  width: 70%;
  margin: 0 auto;
  background: $cyan;
  display: flex;
  justify-content: space-evenly;
  color: $light-gray;
  border-radius: 0 0 1rem 1rem;

  &__pricing {
    width: 50%;
    padding: 3rem 3rem;
    border-bottom-left-radius: 1rem;
    flex: 1;
  }

  &__details {
    background: hsl(179, 51%, 49%);
    width: 50%;
    padding: 3rem 3rem;
    border-bottom-right-radius: 1rem;
    flex: 1;
  }
}

.signup-button {
  background: $bright-yellow;
  padding: 1.4rem 2.2rem;
  text-align: center;
  color: $light-gray;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  display: block;
  width: 85%;
  border-radius: 0.3rem;
  margin: 2rem auto;
  font-size: 1.5rem;
  box-shadow: $shadow;
  cursor: pointer;
}
