/* Primary Colors */

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$cyan-light: hsl(179, 78%, 45%);

/* Neutral Colors */

$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

/* Other Colors */
$white: #fff;

/* Font Weights */
$light: 400;
$bold: 700;

$shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.438);
