.cta__container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  @media only screen and(max-width:1200px) {
    width: 80%;
  }
  @media only screen and(max-width:948px) {
    width: 50%;
  }
  @media only screen and(max-width:810px) {
    width: 80%;
  }
}

.btn__container {
  flex: 0 0 50%;
}

.btn {
  background: $red;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: $light-grayish-blue;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  font-weight: $bold;
  letter-spacing: 2px;
  &:hover {
    opacity: 0.8;
  }
}
