/* Colors*/
/* Font Weights */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem=10px */ }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: #fafafa; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.curve-display {
  position: absolute;
  left: 0;
  bottom: 0; }

.testimonial {
  font-size: 2.8rem;
  z-index: 10;
  transform: translateX(7rem);
  color: #202046; }

.data {
  transform: translateX(7rem);
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #babacf;
  font-weight: 500; }
  .data span {
    color: #202046;
    font-weight: 700; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  max-width: 1200px;
  margin: 3rem auto; }

.slider {
  min-height: 70vh;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%; }
  .slider__content {
    flex: 0 0 50%;
    height: 100%;
    min-height: 70vh;
    position: relative; }
    .slider__content img {
      max-width: 100%; }
  .slider__image {
    flex: 0 0 50%;
    height: 100%;
    min-height: 70vh;
    position: relative;
    z-index: 1; }

/* Background images */
.background-image {
  z-index: -10;
  max-width: 100%; }

.qoute-mark {
  position: absolute;
  top: 5rem;
  left: 30%;
  z-index: -10;
  height: 10rem; }

/* Main slider content */
.person__image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem; }
  .person__image img {
    max-width: 100%;
    z-index: 1; }

.person__testimonial {
  position: absolute;
  top: 50%;
  left: 1rem;
  padding-left: 2rem;
  transform: translateY(-50%);
  z-index: 20; }

/* Slider Navigation button */
.slider__nav {
  display: flex;
  margin-left: 4rem;
  transform: translateY(-2rem);
  width: max-content; }
  .slider__nav > * {
    background-color: #fff;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .slider__nav > *:hover {
      background-color: #babacf; }
  .slider__nav--left {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; }
  .slider__nav--right {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
