.form__container {
  background: $white;
  margin-top: 3rem;
  border-radius: 0.8rem;
  padding: 2rem 0rem;
}

.form {
  padding: 2rem;
}

.input__group {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.input__value {
  padding: 1rem 2.5rem;
  border: 1px solid $grayish-blue;
  outline: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: $bold;
  color: $dark-blue;
  border-radius: 0.6rem;
  margin-top: 2rem;
  &--error {
    border: 2px solid $red;
  }
}

.input__error-icon {
  width: 2rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 4;
  transform: translateY(-50%);
}
