.toast {
  background: $blue;
  padding: 1.4rem 0;
  border-radius: 0.6rem;
  box-shadow: 1px 7px 1px rgba($dark-blue, 0.4);
  z-index: 5;
  &__message {
    text-align: center;
    font-size: 1.4rem;
    color: $white;
    font-weight: $bold;
    span {
      font-weight: $normal;
      color: rgba($white, 0.8);
    }
  }

  &__error {
    color: $red;
    text-align: right;
    margin-top: 5px;
    font-weight: $bold;
  }
}
