.heading {
  font-weight: $bold;
  font-family: "DM Serif Display", sans-serif;

  &--primary {
    padding-top: 7rem;
    font-size: 5.2rem;
    letter-spacing: 1px;
    font-weight: $normal;
    line-height: 1;
    span {
      display: block;
    }
  }

  &--secondary {
    font-size: 4rem;
  }

  &--tertiary {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

.tagline {
  font-size: 1.6rem;
  margin-top: 3rem;
  color: $dark-grayish-violet;
}

.details {
  font-size: 1.6rem;
  color: $dark-grayish-violet;
  margin-top: 2rem;
}
