.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto;
  &__image {
    flex: 0 0 50%;
    // background: rgba(red, 0.4);
    img {
      max-width: 100%;
      transform: translateX(-6rem);
    }
  }

  &__content {
    flex: 0 0 50%;
    padding: 0 4rem;
  }
}

/* Information for about section */
.about {
  &__lists {
    width: 60%;
    margin-top: 2rem;
  }
}
