.logo-box {
  padding-top: 8rem;
  width: 8rem;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.herobox {
  margin: 2rem auto;
}

.contentbox {
  margin: 4rem auto;
  @media only screen and(max-width:400px) {
    width: 90%;
    margin: 0 auto;
  }
}

.imagebox {
  margin: auto;
  width: 50%;

  @media only screen and(max-width:400px) {
    width: 90%;
  }
  img {
    max-width: 100%;
  }
}

.iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
