.header {
  background: url("../../images/bg-header-desktop.png");
  background-position: top;
  background-repeat: no-repeat;
  @media only screen and(max-width:400px) {
    background: url("../../images/bg-header-mobile.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
