.main-heading {
  color: $dark-blue;
  font-size: 4.3rem;
  font-weight: $medium;
  width: 80%;
}

.tagline {
  color: $grayish-blue;
  font-size: 1.6rem;
  margin: 2rem 0;
  width: 80%;
}

.heading-secondary {
  font-size: 3.2rem;
  color: $dark-blue;
  font-weight: $medium;
  margin-bottom: 2rem;
}

.details {
  color: $grayish-blue;
  font-size: 1.6rem;
  width: 60%;
  margin: 0;
}
